<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771670170221-732j2nlvgjl9q8hdkp2vd96eecr0kpb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771670170221-732j2nlvgjl9q8hdkp2vd96eecr0kpb3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>771670170221-v3ulh5cgik6ibkmvpnpq80qgrq2230t7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwWsP2a9qP7PA-aojp81sOGE_bJrSw6AM</string>
	<key>GCM_SENDER_ID</key>
	<string>771670170221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.signity.iRestro</string>
	<key>PROJECT_ID</key>
	<string>flutter-valueappz</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-valueappz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771670170221:ios:7f61c3237278f0da35fd64</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-valueappz.firebaseio.com</string>
</dict>
</plist>